*.iml
.gradle
/local.properties
.idea
.idea/libraries
.idea/codeStyles/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
/*/build
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
